.infiniteScroll {
  position: fixed;
  top: 120px;
  bottom: 0;
  overflow-y: auto;

  .infiniteScroll-bar {
    background-color: #ccc;
    padding: 8px;
    text-align: center;
    width: 1024px;
  }

  .infiniteScroll-text {
    font-size: 20px;
    color: #fff;
  }
}
