.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.l-left {
  float: left;
}

.l-right {
  float: right;
}

.l-align-center {
  text-align: center;
}

.l-align-left {
  text-align: left;
}

.l-align-right {
  text-align: right;
}

.l-bottom-small {
  margin-bottom: 8px !important;
}

.l-bottom-midium {
  margin-bottom: 16px !important;
}

.l-bottom-large {
  margin-bottom: 24px !important;
}

.l-bottom-xlarge {
  margin-bottom: 48px !important;
}

.l-bottom-xxlarge {
  margin-bottom: 64px !important;
}

.l-content {
  width: 1024px;
  margin: 0 auto;
}

.l-trisect {
  width: 1024px;
  margin: 0 auto;

  & > * {
    display: inline-block;
    margin: 0 8px 6px 0;

    &:nth-child(3n) {
      margin: 0;
    }
  }

  img {
    width: 336px;
    height: 250px;
    object-fit: cover;
  }
}

.l-full {
  width: 720px;
  margin: 0 auto;

  & > * {
    display: block;
    margin: 0 0 12px;
  }

  img {
    width: 100%;
  }
}
